.card .row p {
    margin: 0;
}

.card .row {
    margin-bottom: 1rem;
}

.card .row h3 {
    margin: 0;
}

.card-description {
    margin: 0;
}

.search {
    margin: 2rem;
}

.my-club-error {
    margin: 2rem;
}

.container {
    margin: 2rem;
}
